<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img id="nav-avatar" src="https://i.pinimg.com/originals/0f/8b/28/0f8b2870896edcde8f6149fe2733faaf.jpg" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav text-center">
                <% routes.forEach(function(value, key){ %>
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="<%= value.uri %>"><%= value.title %></a>
                    </li>
                <% }); %>
                <li class="nav-item">
                    <a href="#" class="nav-item nav-link" id="sign-in" onclick="Clerk.openSignIn()">Sign In</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-item nav-link" id="sign-out" onclick="function signOut() { Clerk.signOut(); handleSignOut(); } signOut();">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>