<%- include('shared/header'); -%>
    
<div class="p-5 mb-4 bg-body-tertiary">
  <div class="container-fluid py-5">
    <p class="col-md-8 fs-4">Hello! I'm</p>
    <h1 class="display-5 fw-bold">Chauncey Vaughn Loving</h1>
    <p class="col-md-8 fs-4">I'm a <b id="text-update">Software Developer</b></p>
  </div>
</div>

<%- include('shared/footer'); -%>