a.navbar-brand { 
  margin-left: 2rem !important;
}

#navbarNav.show {
  text-align: center !important;
}

#nav-avatar {
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.bg-body-tertiary:not(.navbar) {
  background-color: #f3f6f9 !important;
}